*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #3D087B;
}
.container{
    width: 85%;
    height: 90vh;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.left-container{
    margin: auto;
    width: 50%;
    /* border: 1px solid green; */
}
.logo{
    margin: 30px auto;
}
.set-time{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.wake-up{
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: #3D087B;

}
.child{
    width: 100%;
    margin: 10px;
    display: flex;
    /* background-color: aqua; */
}
.svg-image{
    width: 15%;
    height: 25px;
    margin-right: 0;
}
.time-set{
    width: 35%;
    margin: auto;
    color: #3D087B;
}
select{
    width: 50%;
    padding: 5px 70px 5px 5px;
    outline: none;
    border-color: #EDEDED;
    border-radius: 5px;
    color: #3D087B;
}
.line{
    width: 82%;
    height: 20px;
    margin: auto;
    border-left: 1px solid #3D087B;
}
.msg-box{
    margin: 20px auto;
    padding: 15px;
    /* border: 1px solid orange; */
    border-radius: 4px;
    background-color: #541a96;
}
#msg{
    margin: auto;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 900;
}
.bottom-sec{
    display: flex;
    justify-content: space-between;

}
.btn{
    width: 50%;
    height: 50px;
    font-size: large;
    border-radius: 4px;
    border: none;
    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
}
.set-time-list{
    width: 45%;
    border-radius: 5px;
    background-color: #541a96;
    display: flex;
    flex-direction: column;

}
.detail-box{
    padding: 5px 0px 5px 20px;
    font-size: small;
    color: #FC5EFF;
}


.right-container{
    margin: auto;
    width: 45%;
    /* border: 1px solid yellow; */
}
.right-box-top{
    margin-top: 40px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    position: relative;
}
.timer{
    width: 80%;
    margin: auto;
    /* background-color: #9d88b4; */
    display: flex;
    opacity: 1;
    z-index: 1;
    color: #3D087B;
    font-weight: 100;
}

.dot{
    font-size: 2rem;
    margin: auto;
}
.box{
    width: 20%;
    opacity: 1;
}
.white{
    background-color: #FFFFFF !important;
}
.white-box{
    margin: auto;
    padding-right: 20px;
    font-size: 1.5rem;
    text-align: center;
}
.box {
    width: 75px;
    height: 85px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    background-image: url(./image/timeline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
.center{
    margin: auto;
}
.am-box{
    background-image: url(./image/AM_svg.svg);
}
.notice-box{
    height: 70px;
    margin: 20px auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
}
#notification{
    margin: auto;
    font-size: 1.6rem;
    font-weight: 900;
    color: #8e53f0;
}
.image-box > img{
    width: 100%;
}


.blank{
    width: 70%;
    height: 100px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    margin: auto;
    border-radius: 7px;
    opacity: 0.71;
}
.last-blank{
    width: 60%;
    height: 100px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    margin: auto;
    border-radius: 7px;
    opacity: 0.21;
}